.navbar_container { 
    display: flex;
    justify-content: space-between;
    background-color: #FBB51B;
    padding: 0.75rem 10rem;
}

/*itens: logomarca e barra de pesquisa */
.nav_esquerda {
    display: flex;
    gap: 3rem;

    .barra_pesquisa {
        display: flex;
        align-items: center;

        input { /*Isso está relacionado apenas com interno da barra*/
            font-family: "Inter", sans-serif;
            font-size: 16px;
            background-color: #FFF;
            color: #333; /* cor do input ou da letra */
            border-radius: 20px;
            border: none;
            width: 30rem;
            padding: 0.75rem 1rem;
            outline: none;
        }
        /*cor da letra na barra quando não clicar*/
        input::placeholder {
            color: #686767
        }
        /*cor */
        input:focus:placeholder {
            color: transparent;
        }

        img {
            position: absolute;
            margin-left: 27.5rem;
            width: 18px;
            height: 18px;
            cursor: pointer;
        }
    }
}

/*itens: sino e perfil */
.nav_direita {
    display: flex;
    gap: 10px;

    .nav_sino {
        width: 40px;
    }
    .nav_perfil {
        width: 40px;
    }
    .nav_perfil_icons_fi {
        margin-top: 8px;
    }
}