/* ====================== */
/* ESTRUTURA PRINCIPAL */
/* ====================== */
.sidebar-container {
  font-family: "Geologica", sans-serif;
  font-weight: 600;
}

/* ====================== */
/* NAVEGAÇÃO */
/* ====================== */
.sidebar-nav.collapsed {
  width: 4.375rem;
}
.sidebar-nav {
  display: flex;
  flex-direction: column;
  width: 15.625rem;
  height: 100vh;
  background-color: #6BCB77;
  color: white;
  z-index: 100;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease;
  overflow: hidden;

  ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    list-style: none;
    padding: 0;
    margin: 0;
    
    .upper-sidebar {
      margin-top: 60px;
    }
    .bottom-sidebar {
      margin-top: 60px;
    }
  }
}

/* ====================== */
/* ITENS DE MENU */
/* ====================== */
.nav-item {
  display: flex;
  align-items: center;
  padding: 15px 25px;
  color: #323A42;
  text-decoration: none;
  transition: background-color 0.3s;

  font-family: "Geologica", sans-serif;
  font-weight: bold;
  font-size: 1rem;
  background: none;
  border: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
}
.nav-item:hover {
  background-color: #affaba;
}

.nav-icon {
  margin-right: 10px;
  display: flex;
  align-items: center;
}

.nav-label {
  transition: opacity 0.4s ease, margin 0.4s ease;
  white-space: nowrap;
}
.sidebar-nav.collapsed .nav-label {
  opacity: 0;
  margin-left: 0;
}

/* Estilos quando recolhido */
.sidebar-nav.collapsed .nav-item {
  justify-content: center;
}
.sidebar-nav.collapsed .nav-label {
  display: none;
}
.sidebar-nav.collapsed .nav-icon {
  margin-right: 0;
}

/* ====================== */
/* BOTÃO DE TOGGLE */
/* ====================== */
.toggle-btn {
  position: absolute;
  top: 0;
  z-index: 100;
  margin-left: 70px;

  width: 40px;
  height: 60px;
  background: #6BCB77;
  border: none;
  border-radius: 0 0px 8px 0;
  border-left: 2px solid #6BCB77;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #323A42;
  box-shadow: 5px 0 5px rgba(0,0,0,0.2);
  transition: all 0.5s ease;
}
.toggle-btn.expanded {
  margin-left: 250px;
}

.toggle-btn:hover {
  width: 40px;
  background: #26462a;
}

/* ====================== */
/* FOOTER DA SIDEBAR */
/* ====================== */
.sidebar-footer {
  margin-top: auto;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  width: 100%;
}

.footer-item {
  display: block;
  text-align: center;
  padding: 12px 0;
  color: #323A42;
  transition: background-color 0.3s;

  font-family: "Geologica", sans-serif;
  font-weight: bold;
  font-size: 1rem;
  background: none;
  border: none;
  width: 100%;
  text-align: center;
  cursor: pointer;
}

.footer-item:hover {
  background-color: #affaba;
}

/* ====================== */
/* BOTÃO DE PUBLICAÇÃO */
/* ====================== */
.publish-button {
  width: calc(100% - 40px);
  margin: 0 auto;
  margin-top: 20PX;
  padding: 25px;
  background: #323A42;
  color: white;
  white-space: nowrap;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  transition: all 0.3s;
  overflow: hidden;

  span {
    font-family: "Geologica", sans-serif;
    font-weight: bold;
    font-size: 0.875rem;
    font-weight: 700;
  }
}

.publish-button:hover {
  background: #000000;
  transform: scale(1.05);
}

/* Estilo quando recolhido */
.sidebar-nav.collapsed .publish-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 0;
  margin: 0 auto;
  margin-top: 20PX;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar-nav.collapsed .publish-button span {
  width: 0;
  opacity: 0;
  transition: opacity 0.3s;
}