.navbar{ 
    background-color:rgba(251, 193, 27, 1);
    padding: 10px;
    top: 0%;
    left: 0;
    width: 100%;
    display: flex;

}

.navbar_container{
    display: flex;
    justify-content: space-between; /* Altera para distribuir os espaços */
    align-items: center;
    width: 180%; /* Garante que o container ocupe toda a navbar */
}

.barra_pesquisa{
    flex: 1; /* Faz a barra crescer e ocupar o espaço disponível */
    max-width: 500px; /* Limita a largura máxima */
 
}

/*logo */
.nav_logoGrupo{
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.navbar_logo{ /*tipografia*/
    color: #333;
    font-size: 1.5rem;
}

.navbar_img{/*logo marca*/
    width: 30px; 
    margin-right: 6px; /* espaço entre a logo e o texto */
}

/* grupo barra de pesquisa */


.search_input{ /*Isso está relacionado apenas com interno da barra*/
    background-color: #ffff;
    color: #333; /* cor do input ou da letra */
    display: flex;
    padding: 10px 15px ;
    border-radius: 20px;
    border: none;
    font-size: 16px;
   

    /*icone*/
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDI0IiBoZWlnaHQ9IjEwMjQiIHZpZXdCb3g9IjAgMCAxMDI0IDEwMjQiPjxwYXRoIGZpbGw9ImN1cnJlbnRDb2xvciIgZD0ibTc5NS45MDQgNzUwLjcybDEyNC45OTIgMTI0LjkyOGEzMiAzMiAwIDAgMS00NS4yNDggNDUuMjQ4TDc1MC42NTYgNzk1LjkwNGE0MTYgNDE2IDAgMSAxIDQ1LjI0OC00NS4yNDh6TTQ4MCA4MzJhMzUyIDM1MiAwIDEgMCAwLTcwNGEzNTIgMzUyIDAgMCAwIDAgNzA0Ii8+PC9zdmc+);
    background-repeat: no-repeat;
    background-position: 90% center;
    background-size: 16px;
    
}

/*cor da letra na barra quando não clicar*/
.search_input::placeholder {
    color: #686767
}
/*cor */
.search_input:focus:placeholder {
    color: transparent;
}


/*itens: sino e perfil */
.nav_direita{
    display: flex;
    align-items: center;
    position: absolute;
    right: 0;
    gap: 10px;
    padding-right: 40px;
}

.nav_perfil{
    width: 40px; 
}

.nave_sino{
     width: 40px;
}