.container {
  display: flex;
  flex-direction: column;
  background-color: #F7E9DA;
  height: 100%;
  overflow-y: auto;

  .visible-navbar {
    position: fixed;
    left: 0;
    width: 100%;
    z-index: 1000;
  }
  .occult-navbar {
    opacity: 0;
  }

  .page-info {
    display: flex;

    .sidebar-component {
      position: fixed;
    }

    .feed {
      width: 46.1%;
      transition: padding-left 0.5s ease;
      padding-top: 3rem;
    }
    .feed.collapsed {
      padding-left: 14rem;
    }
    .feed.expanded {
      padding-left: 20rem;
    }
    
    .map-component {
      position: fixed;
      right: 0;
      margin-right: 4.5rem;
      transition: margin-top 0.1s ease;
    }
  }
}